<div *ngIf="isUserPostsLoaded" xmlns="http://www.w3.org/1999/html">
  <div style="text-align: right">
    <button mat-flat-button color="primary" routerLink="/profile/add">Add Post</button>
  </div>

  <h2>{{posts.length}} Posts</h2>

  <mat-card class="post-card" *ngFor="let post of posts; let i = index">
    <mat-card-header style="text-align: left">
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{post.title}}</mat-card-title>
      <mat-card-subtitle>{{post.location}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="formatImage(post.image)" alt="post image">
    <mat-card-content>
      <p>
        {{post.caption}}
      </p>
    </mat-card-content>


  </mat-card>
</div>
